$sliderWidth: 300px;
$cardWidth: 300px;
$cardHeight: 200px;
$cardCount: 5;
$cardGap: 1rem;           // always set units! (px | em | rem | etc...)
$cardBorderRadius: 1rem;  // always set units! (px | em | rem | etc...)

body {
  font-size: 16px;
}

@mixin center_VH {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider {
  // dimensions
  width: $sliderWidth;
  height: $cardHeight;
  // position in center
  @include center_VH();
}

.wrapper {
  // frame and hide cards
  overflow: hidden;
  
  position: relative;
  background: transparent;
  z-index: 1;
}

.items {
  width: calc(#{$cardCount + 3} * #{$cardWidth});
  position: relative;
  top: 0;
  left: #{-$cardWidth};
}

.items.shifting {
  transition: left .2s ease-out;
}

.slide {
  // card elements
  width: calc(#{$cardWidth} - #{$cardGap});
  height: $cardHeight;
  cursor: pointer;
  transition: all 1s;
  position: relative;
  // place elements next to each other and remove space in-between
  // see: https://css-tricks.com/fighting-the-space-between-inline-block-elements/
  float: left;

  // align and style text
  text-align: center;
  line-height: $cardHeight;
  vertical-align: middle;
  color: white;
  font-size: 3rem;

  // add gaps
  border-radius: $cardBorderRadius;
  border: 0px solid transparent;
  margin: 0 calc(#{$cardGap / 2});
  padding: 0;

  @for $i from 1 through $cardCount {
    &--#{$i} {
      background: rgb(random(255), random(255), random(255));
    }
  }
}



.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  line-height: 28px;

  &--prev,
  &--next {
      background-size: 22px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
  }

  &--prev {
    left: -20px;
  }

  &--next {
    right: -20px;
  }
}

.chevron {

  &--left::before,
  &--right::before {
    border-style: solid;
    border-width: 0.05em 0.05em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.45em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
  }
  &--left::before {
    transform: rotate(-135deg);
  }
  &--right::before {
    left: -0.15em;
    transform: rotate(45deg);
  }
}