.slider {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  overflow: hidden;
  position: relative;
  background: #222;
  z-index: 1;
}

#items {
  width: 10000px;
  position: relative;
  top: 0;
  left: -300px;
}

#items.shifting {
  transition: left .2s ease-out;
}

.slide {
  width: 300px;
  height: 200px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  position: relative;
  background: #FFCF47;

  @for $i from 1 through 5 {
    &--#{$i} {
      background: rgb(random(255), random(255), random(255));
    }
  }
}



.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  line-height: 28px;

  &--prev,
  &--next {
      background-size: 22px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
  }

  &--prev {
    left: -20px;
  }

  &--next {
    right: -20px;
  }
}

.chevron {

  &--left::before,
  &--right::before {
    border-style: solid;
    border-width: 0.05em 0.05em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.45em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
  }
  &--left::before {
    transform: rotate(-135deg);
  }
  &--right::before {
    left: -0.15em;
    transform: rotate(45deg);
  }
}